pipeline/Calculation.json
{
	"name": "Calculation",
	"properties": {
		"activities": [
			{
				"name": "Contract level data Process - Get",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Serect - header_authorization_key",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Serect - header_content_type",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Serect - header_authorization_method",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Serect - header_accept",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Serect - api_base_url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(activity('Get Serect - api_base_url').output.value,'/tasks_module/contract_level_data_settings','?',encodeUriComponent('f[project_id][eq]'),'=',encodeUriComponent(pipeline().parameters.project_id))",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "vm-shir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						"accept": {
							"value": "@activity('Get Serect - header_accept').output.value",
							"type": "Expression"
						},
						"Authorization": {
							"value": "@concat(activity('Get Serect - header_authorization_method').output.value,' ',activity('Get Serect - header_authorization_key').output.value)",
							"type": "Expression"
						},
						"Content-Type": {
							"value": "@activity('Get Serect - header_content_type').output.value",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Contract level data Process - Patch",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Contract level data Process - Get",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(activity('Get Serect - api_base_url').output.value,'/tasks_module/contract_level_data_settings/',activity('Contract level data Process - Get').output.data[0].id)",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "vm-shir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "PATCH",
					"headers": {
						"accept": {
							"value": "@activity('Get Serect - header_accept').output.value",
							"type": "Expression"
						},
						"Authorization": {
							"value": "@concat(activity('Get Serect - header_authorization_method').output.value,' ',activity('Get Serect - header_authorization_key').output.value)",
							"type": "Expression"
						},
						"Content-Type": {
							"value": "@activity('Get Serect - header_content_type').output.value",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@concat('{\"data\":{\"id\":\"',activity('Contract level data Process - Get').output.data[0].id,'\",\"type\":\"tasks_module/contract_level_data_settings\",\"attributes\":{\"contract_grouping\":true,\"cashflow_aggregation\":true},\"relationships\":{\"project\":{\"data\":{\"id\":\"',pipeline().parameters.project_id,'\",\"type\":\"projects_module/project\"}}}}}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Contract level data Process - Post",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Contract level data Process - Patch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(activity('Get Serect - api_base_url').output.value,'/tasks_module/tasks/execute/contract_level_data_process','?',encodeUriComponent('q[project_id]'),'=',encodeUriComponent(pipeline().parameters.project_id))",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "vm-shir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"accept": {
							"value": "@activity('Get Serect - header_accept').output.value",
							"type": "Expression"
						},
						"Authorization": {
							"value": "@concat(activity('Get Serect - header_authorization_method').output.value,' ',activity('Get Serect - header_authorization_key').output.value)",
							"type": "Expression"
						},
						"Content-Type": {
							"value": "@activity('Get Serect - header_content_type').output.value",
							"type": "Expression"
						}
					},
					"body": "{\"\"}"
				}
			},
			{
				"name": "IFRS Group level data Process - Get",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Serect - api_base_url",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Serect - header_accept",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Serect - header_authorization_method",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Serect - header_content_type",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Serect - header_authorization_key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(activity('Get Serect - api_base_url').output.value,'/tasks_module/ifrs_group_level_data_settings','?',encodeUriComponent('f[project_id][eq]'),'=',encodeUriComponent(pipeline().parameters.project_id))",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "vm-shir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						"accept": {
							"value": "@activity('Get Serect - header_accept').output.value",
							"type": "Expression"
						},
						"Authorization": {
							"value": "@concat(activity('Get Serect - header_authorization_method').output.value,' ',activity('Get Serect - header_authorization_key').output.value)",
							"type": "Expression"
						},
						"Content-Type": {
							"value": "@activity('Get Serect - header_content_type').output.value",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "IFRS Group level data Process - Patch",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "IFRS Group level data Process - Get",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(activity('Get Serect - api_base_url').output.value,'/tasks_module/ifrs_group_level_data_settings/',activity('IFRS Group level data Process - Get').output.data[0].id)",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "vm-shir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "PATCH",
					"headers": {
						"accept": {
							"value": "@activity('Get Serect - header_accept').output.value",
							"type": "Expression"
						},
						"Authorization": {
							"value": "@concat(activity('Get Serect - header_authorization_method').output.value,' ',activity('Get Serect - header_authorization_key').output.value)",
							"type": "Expression"
						},
						"Content-Type": {
							"value": "@activity('Get Serect - header_content_type').output.value",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@concat('{\"data\":{\"id\":\"',activity('IFRS Group level data Process - Get').output.data[0].id,'\",\"type\":\"tasks_module/ifrs_group_level_data_settings\",\"attributes\":{\"variable_calculation\":true,\"rate_conversion\":true},\"relationships\":{\"project\":{\"data\":{\"id\":\"',pipeline().parameters.project_id,'\",\"type\":\"projects_module/project\"}}}}}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IFRS Group level data Process - Post",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Contract level data Process - Checking",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "IFRS Group level data Process - Patch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "00.10:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(activity('Get Serect - api_base_url').output.value,'/tasks_module/tasks/execute/ifrs_group_level_data_process','?',encodeUriComponent('q[project_id]'),'=',encodeUriComponent(pipeline().parameters.project_id))",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "vm-shir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"accept": {
							"value": "@activity('Get Serect - header_accept').output.value",
							"type": "Expression"
						},
						"Authorization": {
							"value": "@concat(activity('Get Serect - header_authorization_method').output.value,' ',activity('Get Serect - header_authorization_key').output.value)",
							"type": "Expression"
						},
						"Content-Type": {
							"value": "@activity('Get Serect - header_content_type').output.value",
							"type": "Expression"
						}
					},
					"body": "{\"\"}"
				}
			},
			{
				"name": "Macro level Process - Get",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Serect - api_base_url",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Serect - header_accept",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Serect - header_authorization_method",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Serect - header_content_type",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Serect - header_authorization_key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(activity('Get Serect - api_base_url').output.value,'/tasks_module/macro_level_data_settings','?',encodeUriComponent('f[project_id][eq]'),'=',encodeUriComponent(pipeline().parameters.project_id))",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "vm-shir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						"accept": {
							"value": "@activity('Get Serect - header_accept').output.value",
							"type": "Expression"
						},
						"Authorization": {
							"value": "@concat(activity('Get Serect - header_authorization_method').output.value,' ',activity('Get Serect - header_authorization_key').output.value)",
							"type": "Expression"
						},
						"Content-Type": {
							"value": "@activity('Get Serect - header_content_type').output.value",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Macro level Process - Patch",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Macro level Process - Get",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(activity('Get Serect - api_base_url').output.value,'/tasks_module/macro_level_data_settings/',activity('Macro level Process - Get').output.data[0].id)",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "vm-shir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "PATCH",
					"headers": {
						"accept": {
							"value": "@activity('Get Serect - header_accept').output.value",
							"type": "Expression"
						},
						"Authorization": {
							"value": "@concat(activity('Get Serect - header_authorization_method').output.value,' ',activity('Get Serect - header_authorization_key').output.value)",
							"type": "Expression"
						},
						"Content-Type": {
							"value": "@activity('Get Serect - header_content_type').output.value",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@concat('{\"data\":{\"id\":\"',activity('Macro level Process - Get').output.data[0].id,'\",\"type\":\"tasks_module/macro_level_data_settings\",\"attributes\":{\"disaggregation\":true,\"data_manipulation\":true},\"relationships\":{\"project\":{\"data\":{\"id\":\"',pipeline().parameters.project_id,'\",\"type\":\"projects_module/project\"}}}}}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Macro level Process - Post",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "IFRS Group level data Process - Checking",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Macro level Process - Patch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "00.10:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(activity('Get Serect - api_base_url').output.value,'/tasks_module/tasks/execute/macro_level_data_process','?',encodeUriComponent('q[project_id]'),'=',encodeUriComponent(pipeline().parameters.project_id))",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "vm-shir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"accept": {
							"value": "@activity('Get Serect - header_accept').output.value",
							"type": "Expression"
						},
						"Authorization": {
							"value": "@concat(activity('Get Serect - header_authorization_method').output.value,' ',activity('Get Serect - header_authorization_key').output.value)",
							"type": "Expression"
						},
						"Content-Type": {
							"value": "@activity('Get Serect - header_content_type').output.value",
							"type": "Expression"
						}
					},
					"body": "{\"\"}"
				}
			},
			{
				"name": "Actuarial Process - Get",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Serect - api_base_url",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Serect - header_accept",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Serect - header_authorization_method",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Serect - header_content_type",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Serect - header_authorization_key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(activity('Get Serect - api_base_url').output.value,'/tasks_module/actuarial_settings','?',encodeUriComponent('f[project_id][eq]'),'=',encodeUriComponent(pipeline().parameters.project_id))",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "vm-shir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						"accept": {
							"value": "@activity('Get Serect - header_accept').output.value",
							"type": "Expression"
						},
						"Authorization": {
							"value": "@concat(activity('Get Serect - header_authorization_method').output.value,' ',activity('Get Serect - header_authorization_key').output.value)",
							"type": "Expression"
						},
						"Content-Type": {
							"value": "@activity('Get Serect - header_content_type').output.value",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Actuarial Process - Patch",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Actuarial Process - Get",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(activity('Get Serect - api_base_url').output.value,'/tasks_module/actuarial_settings/',activity('Actuarial Process - Get').output.data[0].id)",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "vm-shir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "PATCH",
					"headers": {
						"accept": {
							"value": "@activity('Get Serect - header_accept').output.value",
							"type": "Expression"
						},
						"Authorization": {
							"value": "@concat(activity('Get Serect - header_authorization_method').output.value,' ',activity('Get Serect - header_authorization_key').output.value)",
							"type": "Expression"
						},
						"Content-Type": {
							"value": "@activity('Get Serect - header_content_type').output.value",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@concat('{\"data\":{\"id\":\"',activity('Actuarial Process - Get').output.data[0].id,'\",\"type\":\"tasks_module/actuarial_settings\",\"attributes\":{\"lrc_calculation\":true,\"analytics_generation\":true,\"reports_generation\":true,\"lic_calculation\":true,\"model_aggregation\":true},\"relationships\":{\"project\":{\"data\":{\"id\":\"',pipeline().parameters.project_id,'\",\"type\":\"projects_module/project\"}}}}}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Actuarial Process - Post",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Macro level Process - Checking",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Actuarial Process - Patch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(activity('Get Serect - api_base_url').output.value,'/tasks_module/tasks/execute/actuarial_process','?',encodeUriComponent('q[project_id]'),'=',encodeUriComponent(pipeline().parameters.project_id))",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "vm-shir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"accept": {
							"value": "@activity('Get Serect - header_accept').output.value",
							"type": "Expression"
						},
						"Authorization": {
							"value": "@concat(activity('Get Serect - header_authorization_method').output.value,' ',activity('Get Serect - header_authorization_key').output.value)",
							"type": "Expression"
						},
						"Content-Type": {
							"value": "@activity('Get Serect - header_content_type').output.value",
							"type": "Expression"
						}
					},
					"body": "{\"\"}"
				}
			},
			{
				"name": "Accounting Process - Get",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Serect - api_base_url",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Serect - header_accept",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Serect - header_authorization_method",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Serect - header_content_type",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Serect - header_authorization_key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(activity('Get Serect - api_base_url').output.value,'/tasks_module/accounting_settings','?',encodeUriComponent('f[project_id][eq]'),'=',encodeUriComponent(pipeline().parameters.project_id))",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "vm-shir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						"accept": {
							"value": "@activity('Get Serect - header_accept').output.value",
							"type": "Expression"
						},
						"Authorization": {
							"value": "@concat(activity('Get Serect - header_authorization_method').output.value,' ',activity('Get Serect - header_authorization_key').output.value)",
							"type": "Expression"
						},
						"Content-Type": {
							"value": "@activity('Get Serect - header_content_type').output.value",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Accounting Process - Patch",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Accounting Process - Get",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(activity('Get Serect - api_base_url').output.value,'/tasks_module/accounting_settings/',activity('Accounting Process - Get').output.data[0].id)",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "vm-shir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "PATCH",
					"headers": {
						"accept": {
							"value": "@activity('Get Serect - header_accept').output.value",
							"type": "Expression"
						},
						"Authorization": {
							"value": "@concat(activity('Get Serect - header_authorization_method').output.value,' ',activity('Get Serect - header_authorization_key').output.value)",
							"type": "Expression"
						},
						"Content-Type": {
							"value": "@activity('Get Serect - header_content_type').output.value",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@concat('{\"data\":{\"id\":\"',activity('Accounting Process - Get').output.data[0].id,'\",\"type\":\"tasks_module/accounting_settings\",\"attributes\":{\"journal_generation\":true,\"transaction_generation\":true,\"reconciliation_generation\":true,\"closing_balance_sheet_journal_generation\":true,\"closing_profit_loss_journal_generation\":true,\"configuration_checks\":true},\"relationships\":{\"project\":{\"data\":{\"id\":\"',pipeline().parameters.project_id,'\",\"type\":\"projects_module/project\"}}}}}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Accounting Process - Post",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Actuarial Process - Checking",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Accounting Process - Patch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(activity('Get Serect - api_base_url').output.value,'/tasks_module/tasks/execute/accounting_process','?',encodeUriComponent('q[project_id]'),'=',encodeUriComponent(pipeline().parameters.project_id))",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "vm-shir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"accept": {
							"value": "@activity('Get Serect - header_accept').output.value",
							"type": "Expression"
						},
						"Authorization": {
							"value": "@concat(activity('Get Serect - header_authorization_method').output.value,' ',activity('Get Serect - header_authorization_key').output.value)",
							"type": "Expression"
						},
						"Content-Type": {
							"value": "@activity('Get Serect - header_content_type').output.value",
							"type": "Expression"
						}
					},
					"body": "{\"\"}"
				}
			},
			{
				"name": "Actuarial Process - Checking",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Actuarial Process - Post",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Actuarial Process - Status').output.data.attributes.status,'success')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Actuarial Process - Status",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat(activity('Get Serect - api_base_url').output.value,'/tasks_module/tasks/',activity('Actuarial Process - Post').output.data.id)",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "vm-shir",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"headers": {
									"accept": {
										"value": "@activity('Get Serect - header_accept').output.value",
										"type": "Expression"
									},
									"Authorization": {
										"value": "@concat(activity('Get Serect - header_authorization_method').output.value,' ',activity('Get Serect - header_authorization_key').output.value)",
										"type": "Expression"
									},
									"Content-Type": {
										"value": "@activity('Get Serect - header_content_type').output.value",
										"type": "Expression"
									}
								}
							}
						}
					],
					"timeout": "00.10:00:00"
				}
			},
			{
				"name": "Accounting Process - Checking",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Accounting Process - Post",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Accounting Process - Status').output.data.attributes.status,'success')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Accounting Process - Status",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat(activity('Get Serect - api_base_url').output.value,'/tasks_module/tasks/',activity('Accounting Process - Post').output.data.id)",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "vm-shir",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"headers": {
									"accept": {
										"value": "@activity('Get Serect - header_accept').output.value",
										"type": "Expression"
									},
									"Authorization": {
										"value": "@concat(activity('Get Serect - header_authorization_method').output.value,' ',activity('Get Serect - header_authorization_key').output.value)",
										"type": "Expression"
									},
									"Content-Type": {
										"value": "@activity('Get Serect - header_content_type').output.value",
										"type": "Expression"
									}
								}
							}
						}
					],
					"timeout": "00.10:00:00"
				}
			},
			{
				"name": "Macro level Process - Checking",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Macro level Process - Post",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Macro level Process - Status').output.data.attributes.status,'success')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Macro level Process - Status",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat(activity('Get Serect - api_base_url').output.value,'/tasks_module/tasks/',activity('Macro level Process - Post').output.data.id)",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "vm-shir",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"headers": {
									"accept": {
										"value": "@activity('Get Serect - header_accept').output.value",
										"type": "Expression"
									},
									"Authorization": {
										"value": "@concat(activity('Get Serect - header_authorization_method').output.value,' ',activity('Get Serect - header_authorization_key').output.value)",
										"type": "Expression"
									},
									"Content-Type": {
										"value": "@activity('Get Serect - header_content_type').output.value",
										"type": "Expression"
									}
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "IFRS Group level data Process - Checking",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "IFRS Group level data Process - Post",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('IFRS Group level data Process - Status').output.data.attributes.status,'success')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "IFRS Group level data Process - Status",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat(activity('Get Serect - api_base_url').output.value,'/tasks_module/tasks/',activity('IFRS Group level data Process - Post').output.data.id)",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "vm-shir",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"headers": {
									"accept": {
										"value": "@activity('Get Serect - header_accept').output.value",
										"type": "Expression"
									},
									"Authorization": {
										"value": "@concat(activity('Get Serect - header_authorization_method').output.value,' ',activity('Get Serect - header_authorization_key').output.value)",
										"type": "Expression"
									},
									"Content-Type": {
										"value": "@activity('Get Serect - header_content_type').output.value",
										"type": "Expression"
									}
								}
							}
						}
					],
					"timeout": "00.10:00:00"
				}
			},
			{
				"name": "Contract level data Process - Checking",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Contract level data Process - Post",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Contract level data Process - Status').output.data.attributes.status,'success')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Contract level data Process - Status",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat(activity('Get Serect - api_base_url').output.value,'/tasks_module/tasks/',activity('Contract level data Process - Post').output.data.id)",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "vm-shir",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"headers": {
									"accept": {
										"value": "@activity('Get Serect - header_accept').output.value",
										"type": "Expression"
									},
									"Authorization": {
										"value": "@concat(activity('Get Serect - header_authorization_method').output.value,' ',activity('Get Serect - header_authorization_key').output.value)",
										"type": "Expression"
									},
									"Content-Type": {
										"value": "@activity('Get Serect - header_content_type').output.value",
										"type": "Expression"
									}
								}
							}
						}
					],
					"timeout": "00.10:00:00"
				}
			},
			{
				"name": "Get Serect - api_base_url",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Audit Logging Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.Key_vault_url,'/secrets/api-base-url?api-version=7.0')",
						"type": "Expression"
					},
					"method": "GET",
					"disableCertValidation": false,
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get Serect - header_accept",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Audit Logging Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.Key_vault_url,'/secrets/header-accept?api-version=7.0')",
						"type": "Expression"
					},
					"method": "GET",
					"disableCertValidation": false,
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get Serect - header_authorization_method",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Audit Logging Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.Key_vault_url,'/secrets/header-authorization-method?api-version=7.0')",
						"type": "Expression"
					},
					"method": "GET",
					"disableCertValidation": false,
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get Serect - header_content_type",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Audit Logging Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.Key_vault_url,'/secrets/header-content-type?api-version=7.0')",
						"type": "Expression"
					},
					"method": "GET",
					"disableCertValidation": false,
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get Serect - header_authorization_key",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Audit Logging Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.Key_vault_url,'/secrets/header-authorization-key?api-version=7.0')",
						"type": "Expression"
					},
					"method": "GET",
					"disableCertValidation": false,
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Audit Logging Start",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Audit Logging",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"Name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Status": "Running",
						"DataSource": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Audit Logging Success",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Accounting Process - Checking",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Audit Logging",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"Name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Status": "Success",
						"DataSource": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"project_id": {
				"type": "string"
			},
			"Key_vault_url": {
				"type": "string"
			}
		},
		"folder": {
			"name": "1. Main/2. Moody API call"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-25T19:37:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}