pipeline/Dynamic_secret.json
{
	"name": "Dynamic_secret",
	"properties": {
		"activities": [
			{
				"name": "List Serect",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(variables('Key_vault_url'),'/secrets?api-version=7.0')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "vm-shir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "ForEach - Serect",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List Serect",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List Serect').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Serect",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": true,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat(item().id,'?api-version=7.0')",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "vm-shir",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"disableCertValidation": false,
								"authentication": {
									"type": "MSI",
									"resource": "https://vault.azure.net"
								}
							}
						},
						{
							"name": "Add Secret to array",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Get Serect",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Secret",
								"value": {
									"value": "@concat('\"',replace(replace(item().id,concat(variables('Key_vault_url'),'/secrets/'),''),'-','_'),'\"',':','\"',activity('Get Serect').output.value,'\"')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable - ListofSecret",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach - Serect",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "List_of_Secret",
					"value": {
						"value": "@concat('{',join(variables('Secret'),','),'}')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"project_name": {
				"type": "string",
				"defaultValue": "default project"
			},
			"start_date": {
				"type": "string",
				"defaultValue": "2021-01-31"
			},
			"end_date": {
				"type": "string",
				"defaultValue": "2022-01-31"
			},
			"description": {
				"type": "string",
				"defaultValue": "This is a demo project for documentation purpose"
			}
		},
		"variables": {
			"List_of_Secret": {
				"type": "String"
			},
			"Secret": {
				"type": "Array"
			},
			"Key_vault_url": {
				"type": "String",
				"defaultValue": "https://peregrine-key-vault.vault.azure.net"
			}
		},
		"folder": {
			"name": "Alternative"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-17T20:02:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}