pipeline/FromBlobToArchive.json
{
	"name": "FromBlobToArchive",
	"properties": {
		"activities": [
			{
				"name": "Lookup control table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Audit Logging Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from ctl.control_table_parameter where active_flag=''Y'' and pipeline_name=''',pipeline().Pipeline,''' and measurement_model = ''',pipeline().parameters.measurement_model,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable",
						"type": "DatasetReference",
						"parameters": {
							"schema": "ctl",
							"table": "control_table_parameter"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup control table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup control table').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "copy to archive folder",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "csv_file",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@item().source_table_schema",
											"type": "Expression"
										},
										"File": {
											"value": "@item().source_table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "csv_file",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@concat(item().target_table_schema,'/',pipeline().parameters.project_id)",
											"type": "Expression"
										},
										"File": {
											"value": "@item().target_table_name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "copy to archive folder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "csv_file",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@item().source_table_schema",
											"type": "Expression"
										},
										"File": {
											"value": "@item().source_table_name",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "Audit Logging Start",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Audit Logging",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"Name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Status": "Running",
						"Data_source": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Audit Logging Success",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Audit Logging",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"Name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Status": "Success",
						"Data_source": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"project_id": {
				"type": "string"
			},
			"measurement_model": {
				"type": "string"
			}
		},
		"folder": {
			"name": "1. Main/2. Moody API call"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-25T19:37:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}