pipeline/FromRawToDds.json
{
	"name": "FromRawToDds",
	"properties": {
		"activities": [
			{
				"name": "Lookup control table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Audit Logging Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from ctl.control_table_parameter where active_flag=''Y'' and pipeline_name=''',pipeline().Pipeline,''' and measurement_model = ''',pipeline().parameters.measurement_model,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable",
						"type": "DatasetReference",
						"parameters": {
							"schema": "ctl",
							"table": "control_table_parameter"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup control table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup control table').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Raw to Dds",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().stored_procedure",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Audit Logging Start",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Audit Logging",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ID": {
							"value": "@pipeline().parameters.pipeline_log_id",
							"type": "Expression"
						},
						"Name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Status": "Running",
						"Data_source": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Audit Logging Success",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Audit Logging",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ID": {
							"value": "@pipeline().parameters.pipeline_log_id",
							"type": "Expression"
						},
						"Name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Status": "Success",
						"Data_source": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Audit Logging Failed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Audit Logging",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ID": {
							"value": "@pipeline().parameters.pipeline_log_id",
							"type": "Expression"
						},
						"Name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Status": "Failed",
						"Data_source": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"measurement_model": {
				"type": "string",
				"defaultValue": "PAA"
			},
			"pipeline_log_id": {
				"type": "string"
			}
		},
		"folder": {
			"name": "1. Main/1. Data Preparation"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-30T21:05:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}