pipeline/Full_pipeline_with_email.json
{
	"name": "Full_pipeline_with_email",
	"properties": {
		"activities": [
			{
				"name": "email_notifaction_start",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Email_notifaction",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Message": "Pipeline Start",
						"Pipeline_name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Pipeline_id": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "email_notifaction_end",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Full_pipeline",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Email_notifaction",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Message": "Pipeline Completed",
						"Pipeline_name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"Pipeline_id": {
							"value": "@activity('Full_pipeline').output.pipelineRunId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Full_pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "email_notifaction_start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Full_pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"project_name": {
							"value": "@pipeline().parameters.project_name",
							"type": "Expression"
						},
						"start_date": {
							"value": "@pipeline().parameters.start_date",
							"type": "Expression"
						},
						"end_date": {
							"value": "@pipeline().parameters.end_date",
							"type": "Expression"
						},
						"description": {
							"value": "@pipeline().parameters.description",
							"type": "Expression"
						},
						"measurement_model": {
							"value": "@pipeline().parameters.measurement_model",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"project_name": {
				"type": "string",
				"defaultValue": "default project"
			},
			"start_date": {
				"type": "string",
				"defaultValue": "2019-12-31"
			},
			"end_date": {
				"type": "string",
				"defaultValue": "2020-03-31"
			},
			"description": {
				"type": "string",
				"defaultValue": "This is a demo project"
			},
			"measurement_model": {
				"type": "string",
				"defaultValue": "PAA"
			}
		},
		"folder": {
			"name": "1. Main"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-19T17:42:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}