pipeline/test download_report.json
{
	"name": "test download_report",
	"properties": {
		"activities": [
			{
				"name": "Generate Report List",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(variables('api_base_url'),'/projects_module/reports','?',encodeUriComponent('f[project_id][eq]'),'=',encodeUriComponent(pipeline().parameters.project_id))",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "vm-shir",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						"accept": {
							"value": "@variables('header_accept')",
							"type": "Expression"
						},
						"Authorization": {
							"value": "@concat(variables('header_authorization_method'),' ',variables('header_authorization_key'))",
							"type": "Expression"
						},
						"Content-Type": {
							"value": "@variables('header_content_type')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Generate Report List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Generate Report List').output.data",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Upload output to blob",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Generate download link",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET",
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "output_http",
									"type": "DatasetReference",
									"parameters": {
										"relative_url": {
											"value": "@replace(activity('Generate download link').output.data.url,variables('download_base_url'),'')",
											"type": "Expression"
										},
										"base_url": {
											"value": "@variables('download_base_url')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "output_blob",
									"type": "DatasetReference",
									"parameters": {
										"Container": "paa",
										"Directory": {
											"value": "@concat('testing/',item().attributes.hierarchy_node_name)",
											"type": "Expression"
										},
										"File": {
											"value": "@concat(item().attributes.report_name,'.xml')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Generate download link",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat(variables('api_base_url'),'/projects_module/reports/',item().id,'/generate_url')",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "vm-shir",
									"type": "IntegrationRuntimeReference"
								},
								"method": "POST",
								"headers": {
									"accept": {
										"value": "@variables('header_accept')",
										"type": "Expression"
									},
									"Authorization": {
										"value": "@concat(variables('header_authorization_method'),' ',variables('header_authorization_key'))",
										"type": "Expression"
									},
									"Content-Type": {
										"value": "@variables('header_content_type')",
										"type": "Expression"
									}
								},
								"body": "{\"\"}"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"project_id": {
				"type": "string",
				"defaultValue": "1205"
			}
		},
		"variables": {
			"api_base_url": {
				"type": "String",
				"defaultValue": "https://eyca1-ifrs17.app.moodysanalytics.com/api/v1"
			},
			"header_accept": {
				"type": "String",
				"defaultValue": "application/vnd.api+json"
			},
			"header_authorization_method": {
				"type": "String",
				"defaultValue": "Bearer"
			},
			"header_content_type": {
				"type": "String",
				"defaultValue": "application/vnd.api+json"
			},
			"header_authorization_key": {
				"type": "String",
				"defaultValue": "eyJhbGciOiJIUzI1NiJ9.eyJ0eXAiOiJCZWFyZXIiLCJleHAiOjE2NTMwNTI4MTQsImp0aSI6IjljMzcwODM3LTU1M2ItNDBkOS04NjhkLTE5NzFhMDYxMGY2ZSIsImlhdCI6MTY1MDQ2MDgxNCwiaXNzIjoiaHR0cHM6Ly9leWNhMS1pZnJzMTcuYXBwLm1vb2R5c2FuYWx5dGljcy5jb20vdXNlcl9hY2Nlc3NfbW9kdWxlL2F1dG9tYXRpb25fdG9rZW4iLCJzdWIiOiI0MGU3NWRhMC00ZTI3LTRiNmEtYjI0My01N2QzMjA3M2RkNjAiLCJuYW1lIjoiQW5zb24gVG9rZW4iLCJhdWQiOiJhdXRvbWF0aW9uX3Rva2VuIiwib3duZXIiOnsiaWQiOiJkOTIwMjdhZS02MTc4LTQyNzctYWY5NC05ZmJiMDFmZTZhNGEiLCJuYW1lIjoiQW5zb24gVCIsImVtYWlsIjoiYW5zb24udHVuZzFAY2EuZXkuY29tIn0sInJlYWxtX2FjY2VzcyI6eyJyb2xlcyI6WyJSX0FQSVYxQWRtaW4gUmVhZC1Xcml0ZSJdfX0.2lJpYT8qviiV8U2b0JcMLllIFEiRh30qiQt1O9uu388"
			},
			"download_base_url": {
				"type": "String",
				"defaultValue": "https://i17eyca1stg.blob.core.windows.net/"
			},
			"testing": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Testing"
		},
		"annotations": [],
		"lastPublishTime": "2022-05-19T21:03:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}