Data Factory/pipeline/FromBlobToRaw_backup.json
{
	"name": "FromBlobToRaw_backup",
	"properties": {
		"activities": [
			{
				"name": "Lookup control table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from ctl.control_table_parameter where active_flag=''Y'' and pipeline_name=''',pipeline().Pipeline,''' and measurement_model = ''',pipeline().parameters.measurement_model,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable",
						"type": "DatasetReference",
						"parameters": {
							"schema": "ctl",
							"table": "control_table_parameter"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup control table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup control table').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Existence of Files",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "csv_file",
									"type": "DatasetReference",
									"parameters": {
										"Container": {
											"value": "@item().source_table_schema",
											"type": "Expression"
										},
										"File": {
											"value": "@item().source_table_name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Existence of Files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get Existence of Files').output.exists",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Fail Message",
										"type": "Fail",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"message": {
												"value": "@concat(item().source_table_schema,'.',item().source_table_name,' does not exist.')",
												"type": "Expression"
											},
											"errorCode": "000"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Switch1",
										"type": "Switch",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"on": {
												"value": "@toLower(substring(item().source_table_name,add(indexOf(item().source_table_name,'.'),1),sub(length(item().source_table_name),add(indexOf(item().source_table_name,'.'),1))))",
												"type": "Expression"
											},
											"cases": [
												{
													"value": "csv",
													"activities": [
														{
															"name": "from blob to raw - csv",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "DelimitedTextSource",
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"enablePartitionDiscovery": false
																	},
																	"formatSettings": {
																		"type": "DelimitedTextReadSettings"
																	}
																},
																"sink": {
																	"type": "AzureSqlSink",
																	"preCopyScript": {
																		"value": "@{concat('if exists (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA=''',item().target_table_schema,''' and TABLE_NAME = ''',item().target_table_name,''') truncate table ',item().target_table_schema,'.',item().target_table_name)}",
																		"type": "Expression"
																	},
																	"writeBehavior": "insert",
																	"sqlWriterUseTableLock": false,
																	"disableMetricsCollection": false
																},
																"enableStaging": false,
																"translator": {
																	"type": "TabularTranslator",
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "csv_file",
																	"type": "DatasetReference",
																	"parameters": {
																		"Container": {
																			"value": "@item().source_table_schema",
																			"type": "Expression"
																		},
																		"File": {
																			"value": "@item().source_table_name",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "AzureSqlTable",
																	"type": "DatasetReference",
																	"parameters": {
																		"schema": {
																			"value": "@item().target_table_schema",
																			"type": "Expression"
																		},
																		"table": {
																			"value": "@item().target_table_name",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												},
												{
													"value": "xlsx",
													"activities": [
														{
															"name": "from blob to raw - xlsx",
															"type": "Copy",
															"dependsOn": [],
															"policy": {
																"timeout": "7.00:00:00",
																"retry": 0,
																"retryIntervalInSeconds": 30,
																"secureOutput": false,
																"secureInput": false
															},
															"userProperties": [],
															"typeProperties": {
																"source": {
																	"type": "ExcelSource",
																	"storeSettings": {
																		"type": "AzureBlobStorageReadSettings",
																		"recursive": true,
																		"enablePartitionDiscovery": false
																	}
																},
																"sink": {
																	"type": "AzureSqlSink",
																	"preCopyScript": {
																		"value": "@{concat('if exists (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA=''',item().target_table_schema,''' and TABLE_NAME = ''',item().target_table_name,''') truncate table ',item().target_table_schema,'.',item().target_table_name)}",
																		"type": "Expression"
																	},
																	"writeBehavior": "insert",
																	"sqlWriterUseTableLock": false,
																	"disableMetricsCollection": false
																},
																"enableStaging": false,
																"translator": {
																	"type": "TabularTranslator",
																	"typeConversion": true,
																	"typeConversionSettings": {
																		"allowDataTruncation": true,
																		"treatBooleanAsNumber": false
																	}
																}
															},
															"inputs": [
																{
																	"referenceName": "excel",
																	"type": "DatasetReference",
																	"parameters": {
																		"Container": {
																			"value": "@item().source_table_schema",
																			"type": "Expression"
																		},
																		"File": {
																			"value": "@item().source_table_name",
																			"type": "Expression"
																		},
																		"Sheet": {
																			"value": "@item().system_parameter",
																			"type": "Expression"
																		}
																	}
																}
															],
															"outputs": [
																{
																	"referenceName": "AzureSqlTable",
																	"type": "DatasetReference",
																	"parameters": {
																		"schema": {
																			"value": "@item().target_table_schema",
																			"type": "Expression"
																		},
																		"table": {
																			"value": "@item().target_table_name",
																			"type": "Expression"
																		}
																	}
																}
															]
														}
													]
												}
											]
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"measurement_model": {
				"type": "string",
				"defaultValue": "PAA"
			}
		},
		"folder": {
			"name": "1. Main/1. Data Preparation/backup"
		},
		"annotations": [],
		"lastPublishTime": "2022-06-13T13:36:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}